.vocabulary-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.back-button {
  margin-top: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vocabulary-card {
  /*position: relative;
  width: 300px;
  height: 200px;
  perspective: 1000px;*/
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #eeeeee;
  perspective: 1000px;
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.card-content.front {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.card-content.back {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.navigation-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-arrow {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.box {
    background-color: transparent;
    width: 220px;
    height: 220px;
    margin-top: 50px;
    border: 1px solid #eeeeee;
    perspective: 1000px;
  }
.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
.box:hover .box-inner {
    transform: rotateY(180deg);
  }
.box-front,
.box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
.box-front {
    background-color: #cccccc;
    color: #111111;
    vertical-align: middle;
  }
.box-back {
    background-color: #545353;
    color: #eeeeee;
    transform: rotateY(180deg);
    vertical-align: middle;
  }

/*
<h2>Boîte de retournement 3D (Horizontale)</h2>
    <p>Placez la souris sur la boîte pour voir l'effet:</p>
    <div class="box">
      <div class="box-inner">
        <div class="box-front">
          <h2>Face frontale</h2>
        </div>
        <div class="box-back">
          <h2>Face arrière</h2>
        </div>
      </div>
    </div>
    */