@import "../../styles/stylegeneral.css";

/* Conteneur principal du switch */
.react-aria-Switch {
    display: flex;
    align-items: center;
    gap: 0.571rem;
    font-size: 1.143rem;
    color: #cfcfcf;
    forced-color-adjust: none;
  
    .indicator {
      width: 2rem;
      height: 1.143rem;
      border: 2px solid #cfcfcf;
      background: #f8f8f8;
      border-radius: 1.143rem;
      transition: all 200ms;
  
      &:before {
        content: '';
        display: block;
        margin: 0.143rem;
        width: 0.857rem;
        height: 0.857rem;
        background: #6f46ed;
        border-radius: 16px;
        transition: all 200ms;
      }
    }
  
    &[data-pressed] .indicator {
      border-color: #522acd;
  
      &:before {
        background: #522acd;
      }
    }
  
    &[data-selected] {
      .indicator {
        border-color: var(--highlight-background);
        background: var(--highlight-background);
  
        &:before {
          background: var(--field-background);
          transform: translateX(100%);
        }
      }
  
      &[data-pressed] {
        .indicator {
          border-color: var(--highlight-background-pressed);
          background: var(--highlight-background-pressed);
        }
      }
    }
  
    &[data-focus-visible] .indicator {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }
  }

  .hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}